html {
	color: #000;
	background: #FFF
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
	margin: 0;
	padding: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
fieldset, img {
	border: 0
}
address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
	font: inherit
}
del, ins {
	text-decoration: none
}
li {
	list-style: none
}
caption, th {
	text-align: left
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}
q:before, q:after {
	content: ''
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
sup {
	vertical-align: baseline
}
sub {
	vertical-align: baseline
}
legend {
	color: #000
}
.cf:before, .cf:after {
	content: "";
	display: table
}
.cf:after {
	clear: both
}
.cf {
	zoom: 1
}

body {
	background: #010101;
	transition: background .5s;
	color: #fff
}
* {
	outline: none
}
::selection {
	background: #127BE5;
	color: #aaa
}
::-moz-selection {
background:#000;
color:#aaa
}
.done .loadersv {
	opacity: 0;
	transform: scale(1.1)
}
.loadersv {
	transition: all 0.6s;
	opacity: 1;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9999
}
.loadersv_body {
	position: relative;
	height: 100%;
	width: 100%
}
.svmask {
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 2;
	margin: -1000px 0 0 -1250px;
	height: 2000px;
	width: 2500px
}
.svbar {
	top: 50%;
	left: 50%;
	width: 636px;
	height: 267px;
	position: absolute;
	z-index: 1;
	margin: -133px 0 0 -760px
}
.svbar polygon {
	fill: #fff
}
.first .loader {
	opacity: 1
}
.monst {
	-webkit-transition: all 1s ease .25s;
	transition: all 1s ease .25s;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
	opacity: 0;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	display: inline-block;
	padding: 50px 70px;
	background: #FFF;
	text-align: center
}
.first .monst {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1
}
.m_face {
	width: 60px;
	height: 60px;
	position: absolute;
	opacity: 1;
	left: 50%;
	margin-left: -30px;
	-webkit-transition: .2s linear 1s;
	transition: .2s linear 1s
}
.mojasvg {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	margin-left: -30px
}
.mojasvg path {
	stroke: #000;
	fill: none;
	stroke-width: 0.6;
	stroke-dasharray: 1400px;
	stroke-dashoffset: -1400px
}
.firefox .mojasvg path, .ie .mojasvg path {
	stroke-dashoffset: 0
}
.mojasvg path {
	-webkit-animation: mojamoja 2s ease 0 infinite alternate;
	animation: mojamoja 2s ease 0 infinite alternate
}
@-webkit-keyframes mojamoja {
0% {
stroke-dashoffset:-1400px;
opacity:0
}
100% {
stroke-dashoffset:0px;
opacity:1
}
}
@keyframes mojamoja {
0% {
stroke-dashoffset:-1400px;
opacity:0
}
100% {
stroke-dashoffset:0px;
opacity:1
}
}
.loadinglogo {
	width: 80px;
	height: 60px;
	margin: 80px 0 0
}
.loadinglogo path {
	fill: 000;
	stroke: none
}
.body_bd {
	position: fixed;
	width: 8px;
	height: 8px;
	-webkit-transition: all 2s;
	transition: all 2s;
	background: #000;
	opacity: 1;
	z-index: 99999
}
.body_bd.top, .body_bd.bottom {
	width: 0
}
.body_bd.right, .body_bd.left {
	height: 0
}
.body_bd.top {
	right: -8px;
	top: 0
}
.body_bd.right {
	right: 0;
	bottom: -8px
}
.body_bd.bottom {
	left: -8px;
	bottom: 0
}
.body_bd.left {
	left: 0;
	top: -8px
}
.body_bd {
	width: 4px;
	height: 4px;
	background: #000
}
.body_bd.top {
	right: -4px;
	top: 0;
	-webkit-transition: all 1s;
	transition: all 1s
}
.body_bd.right {
	right: 0;
	bottom: -4px;
	-webkit-transition: all 1s;
	transition: all 1s
}
.body_bd.bottom {
	left: -4px;
	bottom: 0;
	-webkit-transition: all 1s;
	transition: all 1s
}
.body_bd.left {
	left: 0;
	top: -4px;
	-webkit-transition: all 1s;
	transition: all 1s
}
.loaded .body_bd.top, .loaded .body_bd.bottom {
	width: 100%;
	opacity: 0.5
}
.loaded .body_bd.right, .loaded .body_bd.left {
	height: 100%;
	opacity: 0.5
}
a {
	text-decoration: none;
	color: #fff
}
object {
	pointer-events: none
}
.logo {
	width: 74px;
	height: 41px;
	position: fixed;
	left: 34px;
	top: 30px;
	-webkit-transition: all .75s;
	transition: all .75s;
	z-index: 1;
	display: block
}
.logo svg {
	width: 74px;
	height: 41px;
	fill: #fff
}
.menu {
	font-size: 13px;
	position: fixed;
	right: 25px;
	top: 35px;
	z-index: 1;
	margin-left: -300px;
	text-align: center;
	box-sizing: border-box
}
.menu li {
	float: left;
	border-left: 1px solid rgba(255,255,255,0.8);
	border-right: none;
	box-sizing: border-box;
	height: 10px;
	padding: 0 10px
}
.menu a {
	padding: 0 10px;
	display: block;
	margin-top: -3px;
	position: relative;
	color: #1f1e21
}
.menu a span {
	color: #fff;
	-webkit-transition: all .2s;
	transition: all .2s;
	position: relative;
	font-weight: bold
}
.menu a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: #fff;
	-webkit-transition: width .4s, left .4s;
	transition: width .4s, left .4s;
	opacity: 0
}
.menu a.a1 span {
	color: #000!important
}
.menu a.a1:before {
	width: 100%;
	opacity: 1
}
.menu a.a2 span {
	color: #fff
}
.menu a.a2:before {
	width: 0;
	left: 100%;
	opacity: 1
}
.sub .menu a span {
	color: #000
}
.sub .menu a:before {
	background: #eee
}
.sub .menu a:hover span {
	color: #000
}
.sub .menu li {
	border-left: 1px solid rgba(0,0,0,0.2)
}
.menu li:first-child, .sub .menu li:first-child {
	border: none
}
.monster {
	position: fixed;
	right: 80px;
	top: 20px;
	z-index: 1;
	-webkit-transition: all .3s;
	transition: all .3s
}
.face {
	width: 50px;
	position: absolute;
	opacity: 0;
	-webkit-transition: .2s linear 1s;
	transition: .2s linear 1s
}
.sort li {
	font-size: 11px;
	cursor: pointer;
	text-align: center;
	z-index: 1
}
.sorticon {
	width: 30px;
	height: 18px;
	display: inline-block;
	position: relative
}
.sorticon > * {
	fill: #fff;
	-webkit-transition: all .2s ease .4s;
	transition: all .2s ease .4s
}
.sorticon.check > circle {
	fill: none;
	stroke: #fff;
	stroke-width: 1.2px
}
.viewmode {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	right: 50%;
	bottom: 50%;
	margin-right: -90px;
	position: absolute;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	opacity: 0;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s
}
.viewmode:before {
	content: '';
	display: block;
	box-sizing: border-box;
	border: 1px solid rgba(255,255,255,0.3);
	-webkit-transition: all 1s;
	transition: all 1s;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}
.loaded .viewmode {
	opacity: 1;
	-webkit-transition: all .5s ease, opacity .5s ease .5s;
	transition: all .5s ease, opacity .5s ease .5s;
	-webkit-transform: translateY(0);
	transform: translateY(0)
}
.viewmode li {
	margin: 0;
	padding: 14px 40px;
	position: relative;
	overflow: hidden;
	width: 100px;
	vertical-align: bottom
}
.viewmode li span {
	display: inline-block;
	-webkit-transition: all .2s ease 0;
	transition: all .2s ease 0;
	color: #1c1c1c;
	letter-spacing: 0.1em;
	line-height: 1;
	font-size: 11px;
	font-weight: bold;
	color: #fff
}
.viewmode .sorticon {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%
}
.viewmode li.now {
	display: none
}
.viewmode .zoomout .sorticon {
	width: 24px;
	height: 36px;
	margin: -18px 0 0 -12px;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	opacity: 0
}
.viewmode .panel .sorticon {
	width: 24px;
	height: 36px;
	margin: -18px 0 0 -12px;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0
}
.viewmode .sorticon > div {
	position: absolute;
	width: 10px;
	height: 6px;
	background: #fff;
	-webkit-transition: all .5s;
	transition: all .5s
}
.viewmode .t1 {
	left: 0;
	top: 0
}
.viewmode .t2 {
	left: 14px;
	top: 0
}
.viewmode .t3 {
	left: 0;
	top: 10px
}
.viewmode .t4 {
	left: 14px;
	top: 10px
}
.viewmode .t5 {
	left: 0;
	top: 20px
}
.viewmode .t6 {
	left: 14px;
	top: 20px
}
.viewmode .t7 {
	left: 0;
	top: 30px
}
.viewmode .t8 {
	left: 14px;
	top: 30px
}
.zoomout .sorticon .outside {
	opacity: 0
}
.panel .sorticon .outside {
	opacity: 1
}
body:not(.changing) .viewmode li:hover span {
	opacity: 0.25
}
body:not(.changing) .zoomout:hover .sorticon {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 1
}
body:not(.changing) .zoomout:hover .sorticon .outside {
	opacity: 1
}
body:not(.changing) .panel:hover .sorticon {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1
}
body:not(.changing) .panel:hover .sorticon .outside {
	opacity: 0
}
.changing .viewmode:before {
	opacity: 0;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg)
}
.changing .viewmode li span {
	opacity: 0
}
.changing .viewmode .zoomout .sorticon {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0
}
.changing .viewmode .panel .sorticon {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
	opacity: 0
}
.btn_index {
	position: fixed;
	left: 40px;
	top: 50%;
	margin-top: -10px
}
.btn_tag {
	position: fixed;
	right: 40px;
	top: 50%;
	margin-top: -10px
}
.options li span {
	display: block;
	width: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	height: 24px;
	-webkit-transition: all .2s ease 0;
	transition: all .2s ease 0;
	color: #fff;
	letter-spacing: 0.1em;
	font-size: 11px;
	font-weight: bold
}
.options .btn_index span {
	left: 45px;
	top: 2px;
	text-align: left
}
.options .btn_tag span {
	right: 45px;
	top: 2px;
	text-align: right;
	-webkit-transform-origin: right center;
	transform-origin: right center
}
.options li:hover span {
	width: 80px
}
.pager {
	font-size: 14px;
	width: 24px;
	position: fixed;
	right: 25px;
	bottom: 20px;
	text-align: center;
	z-index: 1;
	width: 170px;
	padding: 0
}
.pager .ar {
	width: 12px;
	height: 12px;
	padding-top: 2px
}
.pager polyline {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
	stroke-dasharray: 20px;
	stroke-dashoffset: 0;
	-webkit-transition: all .5s linear;
	transition: all .5s linear
}
.pager > div {
	padding: 2px 0;
	display: inline-block;
	width: 24px;
	height: 24px
}
.pager .pageUp, .pager .pageDown {
	box-sizing: border-box;
	border-radius: 50px;
	margin: 7px 4px;
	cursor: pointer
}
.pager .clickable polyline {
	stroke-width: 2px
}
.pager .clickable {
	border-color: #999
}
.pager .clickable:hover polyline {
	stroke-dashoffset: 40px
}
.tile {
	width: 50%;
	height: 50%;
	position: absolute;
	overflow: hidden
}
.firefox .tile {
}
.tile.area0 {
	left: 0;
	top: 0
}
.tile.area1 {
	right: 0;
	top: 0
}
.tile.area2 {
	left: 0;
	bottom: 0
}
.tile.area3 {
	right: 0;
	bottom: 0
}
.tile > a {
	display: block;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	width: 100%;
	height: 100%
}
.garden {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto
}
.block {
	opacity: 0;
	z-index: 8;
	position: absolute;
	width: 100%;
	height: 100%
}
.block.active {
	opacity: 1;
	z-index: 9
}
.block.current, .block.leave_forward, .block.leave_reverse {
	opacity: 1;
	z-index: 10
}
.thumb {
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s;
	transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s;
	overflow: hidden
}
.current .thumb {
	-webkit-transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s;
	transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s
}
.thumb img {
	width: 100%;
	-webkit-transition: all 1.5s cubic-bezier(0.005, 0.435, 0.380, 1.005);
	transition: all 1.5s cubic-bezier(0.005, 0.435, 0.380, 1.005)
}
.data {
	width: 100%;
	display: table
}
.tag {
	font-size: 11px;
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 1px;
	width: 100%
}
.tag li {
	display: inline-block;
	margin: 0 15px
}
.data, .tag {
	opacity: 0;
	text-align: center
}
.loaded.wait .data, .closing.wait .data, .loaded.wait .tag, .closing.wait .tag {
	opacity: 0
}
.loaded .data, .loaded .tag {
	opacity: 1;
	-webkit-transition: all .6s cubic-bezier(0.000, 0.465, 0.080, 1.000);
	transition: all .6s cubic-bezier(0.000, 0.465, 0.080, 1.000)
}
.disabled {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999
}
.loaded.wait .disabled {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999
}
.loaded .disabled {
	display: none
}
.firefox .changing .thumb {
	opacity: 0;
	transition: opacity .2s linear 0s
}
.mode_panel .current .thumb {
	opacity: 1;
	-webkit-transition: all 1s cubic-bezier(0.195, 0.840, 0.680, 1.000) 1s;
	transition: all 1s cubic-bezier(0.195, 0.840, 0.680, 1.000) 1s
}
.mode_panel .current .area0 .thumb {
	-webkit-transform: translate3d(101%, 0, 0);
	transform: translate3d(101%, 0, 0)
}
.mode_panel .current .area1 .thumb {
	-webkit-transform: translate3d(0, 101%, 0);
	transform: translate3d(0, 101%, 0)
}
.mode_panel .current .area2 .thumb {
	-webkit-transform: translate3d(0, -101%, 0);
	transform: translate3d(0, -101%, 0)
}
.mode_panel .current .area3 .thumb {
	-webkit-transform: translate3d(-101%, 0, 0);
	transform: translate3d(-101%, 0, 0)
}
.thumb {
	-webkit-transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s;
	transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s
}
.area0 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity: 0.3
}
.area1 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 0.3
}
.area2 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity: 0.3
}
.area3 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 0.3
}
.re .thumb {
	-webkit-transition: all 0s;
	transition: all 0s
}
.re .area0 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 0.3
}
.re .area1 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity: 0.3
}
.re .area2 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 0.3
}
.re .area3 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity: 0.3
}
.active .thumb {
	-webkit-transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s;
	transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s
}
.active .area0 .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.active .area1 .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.active .area2 .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.active .area3 .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.mode_panel.loaded .current .thumb {
	-webkit-transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s;
	transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s
}
.mode_panel.loaded .current .area0 .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.mode_panel.loaded .current .area1 .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.mode_panel.loaded .current .area2 .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.mode_panel.loaded .current .area3 .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.leave_forward .thumb {
	-webkit-transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s;
	transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s
}
.leave_forward .area0 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0)
}
.leave_forward .area1 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}
.leave_forward .area2 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0)
}
.leave_forward .area3 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}
.leave_reverse .thumb {
	-webkit-transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s;
	transition: all 1s cubic-bezier(0.435, 0.080, 0.080, 1.000) 0s
}
.leave_reverse .area0 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}
.leave_reverse .area1 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0)
}
.leave_reverse .area2 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}
.leave_reverse .area3 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0)
}
.mode_panel .data {
	opacity: 0;
	position: absolute;
	top: 0;
	height: 100%;
	transform: scale(1.1)
}
.mode_panel .data_inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%
}
.mode_panel .wlogo {
	width: 90%;
	margin: 20px 5%;
	font-size: 24px;
	font-weight: bold
}
.mode_panel .wlogo img {
	max-width: 400px;
	max-height: 120px
}
.mode_panel .wtitle {
	display: none
}
.mode_panel .tile .tag {
	position: absolute;
	left: 0;
	bottom: 40px;
	opacity: 0;
	transform: translateY(100px)
}
.pjaxed .thumb {
	opacity: 1;
	-webkit-transition: all 1s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s;
	transition: all 1s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s
}
.pjaxed .area0 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 0
}
.pjaxed .area1 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity: 0
}
.pjaxed .area2 .thumb {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 0
}
.pjaxed .area3 .thumb {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity: 0
}
.mode_panel .active .tile a .data {
	-webkit-animation: panellogo 1s ease 0;
	animation: panellogo 1s ease 0;
	opacity: 0
}
.container {
	-webkit-perspective: 2000px;
	perspective: 2000px;
	position: fixed;
	left: 50%;
	top: 50%
}
.mainbody, .backyard {
	width: 100%
}
.flipbody {
	-webkit-transition: all 2.4s cubic-bezier(0.935, -0.325, 0.240, 1.000);
	transition: all 2s cubic-bezier(0.935, -0.325, 0.240, 1.000);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	height: 100%;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}
.closing .flipbody {
	-webkit-transition: all 2.4s cubic-bezier(0.615, 0.000, 0.000, 1.285);
	transition: all 2s cubic-bezier(0.615, 0.000, 0.000, 1.285)
}
.closing .backyard {
	background: #111
}
.mainbody, .backyard {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0
}
.mainbody {
	z-index: 889
}
.backyard {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background: #fff
}
.ie .flipbody, .ie .mainbody, .ie .backyard {
	transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550)
}
.ie .detail .mainbody, .ie .closing .mainbody {
	transform: rotateY(180deg)
}
.ie .detail .backyard, .ie .closing .backyard {
	transform: rotateY(0deg);
	background: #000
}
.mode_panel:not(.detail):not(.closing):not(.changing) .current .tile:hover .thumb img {
	opacity: 0.6;
	transform: scale(1.07)
}
.mode_panel .current .tile .data {
	opacity: 0;
	transition: all 0s;
	transform: scale(1.2)
}
.mode_panel .current .tile.a1 .data {
	opacity: 1;
	transition: all .6s;
	transform: scale(1)
}
.mode_panel .current .tile.a2 .data {
	opacity: 0;
	transition: all .3s;
	transform: scale(0.9)
}
.mode_panel:not(.detail):not(.closing):not(.changing) .current .tile:hover .tag {
	opacity: 1;
	transform: translateY(0)
}
.mode_panel.changing .current .thumb {
	-webkit-transition: all .6s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s;
	transition: all .6s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s
}
.changing .wlogo {
	display: none!important
}
.closing .tile .thumb {
	transition: all .6s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s
}
.mode_zoomout {
	overflow: hidden;
	height: 100%;
	background: #101010
}
.mode_zoomout .tile .thumb {
	-webkit-transform: translate3d(0, -70px, -900px);
	transform: translate3d(0, -70px, -900px);
	opacity: 1;
	-webkit-transition: all 1s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s;
	transition: all 1s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s
}
.mode_zoomout:not(.mode_panel) .tile .data {
	opacity: 1;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0
}
.mode_zoomout:not(.mode_panel) .tile .data_inner {
	display: table-cell;
	vertical-align: middle
}
.mode_zoomout:not(.mode_panel) .tile .wtitle {
	display: block;
	padding: 0 20px 10px;
	font-size: 14px;
	opacity: 0
}
.mode_zoomout:not(.mode_panel) .tile .wlogo {
	font-size: 12px;
	max-width: 50%;
	margin: -35px auto 0
}
.mode_zoomout:not(.mode_panel) .tile .wlogo img {
	max-width: 60%;
	max-height: 55px;
	transition: all .5s;
	opacity: 0.8
}
.mode_zoomout:not(.mode_panel).changing .tile .wlogo img {
	opacity: 0
}
.mode_zoomout:not(.mode_panel) .tile .tag {
	font-size: 11px;
	margin-top: -70px;
	position: relative
}
.mode_zoomout:not(.mode_panel) .tile .tag a {
	opacity: 0.5
}
.mode_zoomout:not(.mode_panel).detail .tile .wlogo, .mode_zoomout:not(.mode_panel).detail .tile .tag, .mode_zoomout:not(.mode_panel).detail .tile .closing, .mode_zoomout:not(.mode_panel).detail .tile .closing {
	opacity: 0
}
.mode_zoomout .block {
	opacity: 1;
	position: relative
}
.mode_zoomout .blanktile .thumb {
	width: 0
}
.mode_zoomout .pager {
	display: none
}
.detail.mode_zoomout .mainbody, .closing.mode_zoomout .mainbody {
	overflow: hidden
}
.detail.mode_zoomout .tile .thumb, .closing.mode_zoomout .tile .thumb {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all .3s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s;
	transition: all .3s cubic-bezier(0.195, 0.840, 0.680, 1.000) 0s
}
.mode_zoomout .tile .thumb img {
	-webkit-transition: all .7s cubic-bezier(0.195, 0.840, 0.680, 1.000);
	transition: all .7s cubic-bezier(0.195, 0.840, 0.680, 1.000);
	box-sizing: border-box;
	opacity: 0.8
}
.hov.mode_zoomout .tile .thumb img {
	opacity: 0.6
}
.hov.mode_zoomout .tile:hover .thumb img {
	opacity: 1
}
.backpanel {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #08070B;
	z-index: 0;
	opacity: 0
}
.pjaxed .loaded .backpanel {
	opacity: 0;
	transition: all 1s ease 0s
}
.loaded .backpanel {
	opacity: 1;
	transition: all 1.5s ease 1s
}
.backpanel_body {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0
}
.backpanel_body img {
	width: 100%;
	-webkit-filter: blur(60px);
	filter: blur(60px);
	opacity: 0.3;
	transition: all 1.25s;
	margin-top: -30%
}
.backpanel_body img {
	-webkit-filter: blur(60px);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><defs><filter id=\'blur\'><feGaussianBlur in=\'SourceGraphic\' stdDeviation=\'60\' /></filter></defs></svg>#blur");
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='60')
}
.backpanel_body img.b1 {
	opacity: 0;
	transition: none
}
.backpanel_body img.b2 {
	opacity: .3;
	transition: all .4s
}
.backpanel_body img.b3 {
	opacity: 0;
	transition: all .6s
}
.firefox .backpanel_body img {
	opacity: 0.4
}
.ie .backpanel_body img {
	display: none
}
.patmask {
	background: url(../img/pat.png);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0
}
.sub .backpanel {
	background: #fff
}
.detail .monster {
	transition: .5s ease .5s;
	top: -100px
}
.detail .body_bd {
	transition: .5s ease .5s
}
.detail .body_bd.top {
	right: 0;
	top: -10px
}
.detail .body_bd.right {
	right: -10px;
	bottom: 0
}
.detail .body_bd.bottom {
	left: 0;
	bottom: -10px
}
.detail .body_bd.left {
	left: -10px;
	top: 0
}
.contents_detail {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	transform: scale(1.3);
	opacity: 0;
	transition: all 1s ease 1s;
	overflow: scroll;
	background: #284E98;
	perspective: 1200px;
	overflow-x: hidden
}
.detail .contents_detail {
	z-index: 999;
	transform: scale(1);
	opacity: 1
}
.moviearea {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	transform-origin: center bottom;
	box-sizing: border-box;
	perspective: 1200px;
	/* opacity: 0; */
	transition: opacity 1s
}
.moviearea .video_body {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform-origin: center bottom
}
body:not(.pjaxed) .moviearea.ready {
	opacity: 1
}
.video_overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	cursor: pointer
}
.captionarea {
	background: #284E98;
	margin: 0 50px;
	color: #FDFCFC;
	line-height: 2;
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	position: relative;
	height: 10%;
	padding: 0 90px;
	overflow: hidden;
	transition: 1s
}
.captionarea {
	height: 100%;
	padding: 80px;
	margin: 1200px 50px 50px;
	opacity: 1
}
.captionarea h1 {
	padding: 40px 0 15px;
	font-family: 'Montserrat', sans-serif
}
.captionarea h2 {
	padding: 40px 0 0;
	font-family: 'Montserrat', sans-serif
}
.captionarea h1.onlytitle {
	font-size: 38px;
	color: #000
}
.captionarea a {
	color: #000
}
.captionarea div {
	box-sizing: border-box
}
.text_credit iframe {
	min-width: 100%;
	width: auto
}
.text_en, .text_jp {
	display: inline-block;
	width: 50%;
	padding: 0 40px 50px;
	font-size: 14px;
	vertical-align: top;
	max-width: 520px;
	text-align: center
}
.text_jp {
	margin-left: -0.5em
}
.onetxt {
	width: 100%;
	max-width: 1020px
}
.text_credit {
	padding: 0 50px 50px;
	text-align: center;
	font-size: 15px
}
.caption_head {
	text-align: center;
	padding-bottom: 50px
}
.caption_head .wlogo {
	padding: 60px 0 0px;
	max-width: 880px;
	margin: 0 auto
}
.caption_head .wlogo img {
	max-height: 150px;
	max-width: 100%
}
#article .close {
	position: absolute;
	right: 80px;
	top: 20px;
	cursor: pointer;
	display: block;
	z-index: 9999;
	transition: top 0s, opacity 1s;
	padding: 35px;
	opacity: 1
}
#article .close svg {
	width: 16px;
	height: 16px;
	vertical-align: bottom;
	transition: all .5s
}
#article .close polyline {
	fill: none;
	stroke: #fff;
	stroke-width: 3px;
	stroke-linecap: square;
	stroke-dasharray: 30px;
	stroke-dashoffset: 60px;
	transition: all .5s linear
}
#article .close:hover polyline {
	stroke-dashoffset: 0px
}
#article.pause .close, #article.caption .close, #article.controll_sc .close {
	opacity: 1
}
#article.caption .close polyline {
	fill: none;
	stroke: #FFFBFB;
	stroke-width: 4px
}
.gocaption {
	position: absolute;
	left: 80px;
	top: 20px;
	color: #fff;
	cursor: pointer;
	display: block;
	z-index: 9999;
	transition: top 0s, opacity 1s;
	padding: 35px;
	opacity: 0;
	font-size: 13px
}
.gocaption svg {
	width: 18px;
	height: 18px;
	vertical-align: bottom;
	padding-right: 5px
}
.gocaption polyline, .gocaption line {
	fill: none;
	stroke: #fff;
	stroke-width: 3px;
	stroke-dasharray: 40px;
	stroke-dashoffset: 80px;
	transition: all .5s linear
}
.gocaption:hover polyline, .gocaption:hover line {
	stroke-dashoffset: 0
}
.controll_on .gocaption, .pause .gocaption, .gocaption:hover {
	opacity: 1
}
.controll_sc .gocaption {
	opacity: 0
}
.singlenav {
	transition: all 1s;
	opacity: 1
}
.singlenav > div {
	width: 50px;
	height: 70px;
	background: #414141;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	text-align: center;
	transition: left .5s, right .5s, padding .3s, margin .3s, box-shadow .5s;
	color: #fff;
	line-height: 70px
}
.singlenav a {
	display: block;
	color: #fff;
	width: 100%;
	height: 100%;
	perspective: 1000px
}
.singlenav .next {
	right: -50px
}
.singlenav .prev {
	left: -50px
}
.controll_sc .singlenav .next {
	right: 0
}
.controll_sc .singlenav .prev {
	left: 0
}
.controll_on .singlenav .next {
	right: 0
}
.controll_on .singlenav .prev {
	left: 0
}
.singlenav .prev:hover {
	left: 0
}
.singlenav .next:hover {
	right: 0
}
.arrow {
	background: #2f2f2f;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2
}
.navimg {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100px;
	z-index: 1;
	display: block;
	background-size: cover;
	background-position: center;
	-webkit-transition: all .25s;
	transition: all .25s;
	box-sizing: border-box
}
.next .navimg {
	-webkit-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transform-origin: right center;
	transform-origin: right center;
	right: 100%
}
.prev .navimg {
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transform-origin: left center;
	transform-origin: left center;
	left: 100%
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	display: none
}
.singlenav > div:hover {
	box-shadow: 0 0 120px 20px rgba(0,0,0,0.3)
}
.singlenav > div:hover .navimg {
	-webkit-transform: rotateY(0);
	transform: rotateY(0)
}
.singlenav .nopost {
	display: none
}
.navtitle {
	display: none
}
.arrow svg {
	width: 7px;
	height: 14px
}
.arrow polyline {
	display: block;
	width: 10px;
	height: 2px;
	background: #fff;
	-webkit-transition: all .5s;
	transition: all .5s;
	position: absolute;
	left: 50%;
	top: 50%;
	stroke: #FFF;
	fill: none;
	stroke-width: 2px;
	-webkit-transition: all .5s;
	transition: all .5s;
	stroke-dasharray: 20px;
	stroke-dashoffset: 0;
	stroke-width: 2.5px
}
.singlenav > div:hover .arrow polyline {
	stroke-dashoffset: 40px
}
.sns {
	margin: 30px 0 80px
}
.fb-like {
	margin-right: 25px
}
.fb-like > span {
	height: 30px!important
}
.witter-share-button {
	width: 100px
}
.video_body {
	height: 720px;
	width: 100%;
	position: relative;
	overflow: hidden
}
.video_body .v {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	transition: opacity .6s
}
.video_controls_body {
	z-index: 9999;
	width: 600px;
	margin: 0 0 0 -300px;
	display: table;
	position: absolute;
	left: 50%;
	bottom: 50px;
	opacity: 0;
	transition: opacity 1s;
	padding: 0 20px 0 5px;
	background: #284E98;}
.controll_sc .video_controls_body {
	opacity: 0!important
}
.video_controls_body > div {
	display: table-cell;
	vertical-align: middle;
	height: 36px;
	position: relative
}
.video_controls {
	width: 45px
}
.controll_on .video_controls_body, .pause .video_controls_body {
	opacity: 1
}
.video_c {
	width: 36px;
	height: 36px;
	position: relative;
	cursor: pointer
}
.video_c span {
	display: block;
	height: 12px;
	width: 2px;
	background: #fff;
	position: absolute
}
.video_c3 {
	opacity: 0
}
.video_c1 {
	top: 12px;
	left: 14px;
	transition: transform 0.3s
}
.video_c2 {
	top: 12px;
	left: 20px;
	transition: transform 0.3s
}
.video_c svg {
	position: absolute;
	top: 11px;
	left: 13px
}
.video_c svg path {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-dashoffset: 35px;
	stroke-dasharray: 35px;
	transition: all 0.2s
}
.a1 .video_c1 {
	border-radius: 2px;
	top: 11px;
	left: 17px;
	height: 12px;
	transition: transform 0.3s;
	transform: rotate(300deg) translate(2px, 0px)
}
.a1 .video_c2 {
	border-radius: 2px;
	top: 11px;
	left: 17px;
	height: 12px;
	transition: transform 0.3s;
	transform: rotate(300deg) translate(2px, 0px)
}
.a2 .video_c1 {
	opacity: 0;
	transition: opacity 0.3s 0.1s
}
.a2 .video_c2 {
	opacity: 0;
	transition: opacity 0.3s 0.1s
}
.a2 svg path {
	stroke-dashoffset: 0;
	transition: all 0.4s
}
.video_controls_inner .bar_body {
	height: 2px;
	width: 100%;
	position: relative;
	background: #222
}
.video_controls_inner .bar_body span {
	display: block;
	background: #fff;
	height: 2px;
	position: absolute;
	width: 0px;
	top: 0;
	left: 0;
	transition: all 0.3s
}
.video_controls_inner input {
	width: 100%;
	position: absolute;
	z-index: 1;
	height: 36px;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0
}
.contents_tag {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
	-webkit-transition: all .75s ease;
	transition: all .75s ease;
	background: rgba(57,82,165,0.95);
	-webkit-perspective: 1200px;
	perspective: 1200px;
	cursor: none
}
.mode_tag .contents_tag {
	z-index: 9999;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1
}
.taglist {
	position: absolute;
	width: 740px;
	height: 100%;
	display: table;
	top: 0;
	left: 50%;
	margin-left: -370px
}
.taglist_body {
	display: table-cell;
	vertical-align: middle;
	text-align: left
}
.taglist_inner {
	border-top: 4px solid #fff;
	padding: 40px 0 0
}
.taglist li {
	display: inline-block;
	width: 180px;
	margin: 4px 0;
	text-align: center;
	overflow: hidden;
	position: relative;
	-webkit-mask-image: -webkit-radial-gradient(circle, white, black)
}
.taglist li a {
	position: relative;
	display: block;
	padding: 6px 10px;
	height: 14px;
	line-height: 14px;
	font-family: 'Libre Baskerville', serif;
	font-size: 12px;
	font-weight: bold
}
.taglist li:hover a {
	color: #132789
}
.taglist li:before {
	content: '';
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #fff;
	box-sizing: border-box;
	-webkit-transform: scale(.4);
	transform: scale(.4);
	opacity: 0;
	display: block;
	position: absolute;
	left: -10px;
	top: -85px;
	-webkit-transition: all .4s;
	transition: all .4s
}
.taglist li:hover:before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1)
}
.tag_all {
	display: block;
	padding: 10px 0;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 0.1em
}
.cat_now {
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-family: 'Libre Baskerville';
	color: #292A2F;
	position: fixed;
	left: 0;
	bottom: 50%;
	left: 0;
	text-align: center;
	width: 100%;
	margin-bottom: -30px;
	-webkit-transition: all .2s;
	transition: all .2s;
	opacity: 1
}
.mode_panel .cat_now, .done.loaded .cat_now {
	opacity: 0;
	-webkit-transition: all 1s;
	transition: all 1s
}
.mode_panel.jst .cat_now {
	opacity: 1;
	color: #292A2F
}
.mode_panel.jst.loaded .cat_now {
	opacity: 0
}
.mode_zoomout.loaded .cat_now {
	opacity: 1;
	color: #292A2F
}
.pjaxed .cat_now {
	opacity: 0
}
.first_guide {
	font-size: 21px;
	line-height: 21px;
	margin: 0 0 -10px -200px;
	letter-spacing: 0.35em;
	text-align: center;
	font-family: 'Libre Baskerville';
	color: #fff;
	position: fixed;
	z-index: 10;
	bottom: 50%;
	left: 50%;
	text-align: center;
	width: 400px;
	-webkit-transition: all .4s ease .4s;
	transition: all .4s ease .4s;
	opacity: 0;
	overflow: hidden
}
.loaded.mode_panel .first_guide {
	opacity: 1;
	pointer-events: none
}
.loaded.mode_panel .first_guide.hide {
	opacity: 0
}
.first_guide span {
	transition: all 1s cubic-bezier(0.195, 0.840, 0.680, 1.000) .2s
}
.first_guide span:nth-child(even) {
	-webkit-transform: translateY(-21px);
	transform: translateY(-21px)
}
.first_guide span:nth-child(odd) {
	-webkit-transform: translateY(21px);
	transform: translateY(21px)
}
.loaded .first_guide span:nth-child(even), .loaded .first_guide span:nth-child(odd) {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}
.first_guide.hide span:nth-child(even) {
	-webkit-transform: translateY(21px);
	transform: translateY(21px);
	opacity: 0
}
.first_guide.hide span:nth-child(odd) {
	-webkit-transform: translateY(-21px);
	transform: translateY(-21px);
	opacity: 0
}
.first_guide.hide span:nth-child(even), .first_guide.hide span:nth-child(odd) {
	transition: all 1s cubic-bezier(1.000, 0.680, 0.840, 0.195) 0s
}
.contents_index {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
	-webkit-transition: all .75s ease;
	transition: all .75s ease;
	background: rgba(133,135,142,0.95);
	-webkit-perspective: 1200px;
	perspective: 1200px;
	cursor: none;
	overflow: scroll
}
.mode_index .contents_index {
	z-index: 9999;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1
}
.index_inner {
	line-height: 66px;
	font-size: 32px;
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
	padding: 30px 0 60px;
	overflow-x: hidden
}
.index_inner li {
	position: relative;
	height: 70px;
	padding: 10px 0;
	white-space: nowrap;
	border-bottom: 1px solid rgba(255,255,255,0.05);
	-webkit-transition: all 1s;
	transition: all 1s
}
.index_inner li:hover {
	background: rgba(95,97,103,0.2)
}
.index_inner li a .ititle {
	padding: 10px 20px;
	display: inline-block;
	overflow: hidden;
	color: #fff;
	font-style: italic
}
.index_inner li a > div {
	display: inline-block;
	vertical-align: middle;
	font-style: normal
}
.index_inner li .number {
	font-size: 14px;
	padding: 17px 0px 0px 40px;
	font-family: 'Montserrat', sans-serif
}
.index_inner li .ititle {
	letter-spacing: 0.02em
}
.index_inner li a .ititle {
	position: relative
}
.index_inner li a .ititle:before {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transition: max-width 0.5s;
	transition: max-width 0.5s
}
.index_inner li a:hover .ititle:before {
	max-width: 100%
}
.cursor {
	-webkit-transform: matrix(1, 0, 0, 1, 1055, 752);
	transform: matrix(1, 0, 0, 1, 1055, 752);
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 99999;
	cursor: none
}
.cursor {
	pointer-events: none
}
.cursor svg {
	width: 20px;
	height: 20px;
	-webkit-transition: all .1s;
	transition: all .1s
}
.cursor polyline {
	fill: none;
	stroke: #fff;
	stroke-width: 3px
}
.cursor.pause svg {
	width: 0;
	height: 0;
	opacity: 0
}
.mode_tag .cursor, .mode_index .cursor {
	display: block
}
.mode_index .cursor polyline {
	fill: none;
	stroke: #fff
}
.copyright {
	position: fixed;
	left: 35px;
	bottom: 35px;
	text-align: center;
	font-size: 10px;
	color: #666;
	letter-spacing: 0.1em
}
.moja_ol {
	width: 80px;
	margin: 0 auto;
	transform: scale(1.2)
}
.moja_bd {
	position: relative;
	width: 80px;
	height: 80px;
	overflow: hidden
}
.moja_bd img {
	position: absolute;
	width: 22px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -12px;
	z-index: 2
}
.moja_ol {
	-webkit-animation: mojahuwa 5s ease 0 infinite;
	animation: mojahuwa 5s ease 0 infinite
}
@-webkit-keyframes mojahuwa {
0% {
transform:translate3d(0, -3px, 0) scale(1.2)
}
50% {
transform:translate3d(2px, 5px, 0) scale(1.2)
}
100% {
transform:translate3d(0, -5px, 0) scale(1.2)
}
}
@keyframes mojahuwa {
0% {
transform:translate3d(0, -3px, 0) scale(1.2)
}
50% {
transform:translate3d(2px, 5px, 0) scale(1.2)
}
100% {
transform:translate3d(0, -5px, 0) scale(1.2)
}
}
.captionarea .vlink {
	background: #000;
	color: #fff;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	display: block;
	width: 80px;
	margin: 0 auto;
	line-height: 23px;
	height: 22px
}
.loaded.sub .logo {
	fill: #000
}
.loaded.sub a {
	color: #000
}
.sub {
	background: #fff;
	color: #000;
	text-align: center
}
.sub .body_bd {
	width: 0;
	height: 0;
	background: #fff;
	font-size: 13px
}
.subwrap {
	padding: 60px 0;
	font-size: 13px;
	display: table;
	width: 100%;
	height: 100%;
	letter-spacing: 0.1em
}
.subbody {
	padding: 20px 0 60px;
	width: 100%;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center
}
.subbody_inner {
	width: 500px;
	padding: 60px 0;
	opacity: 0;
	transition: all 1.5s cubic-bezier(0.435, 0.080, 0.080, 1.000)
}
.subbody_holder {
	display: inline-block;
	width: 0;
	margin-right: 500px;
	transition: all 1.5s cubic-bezier(0.435, 0.080, 0.080, 1.000);
	overflow: hidden
}
.loaded .subbody_holder {
	width: 500px;
	margin-right: 0px
}
.loaded .subbody_inner {
	opacity: 1
}
.subwrap h1 {
	font-size: 160px;
	line-height: 94px;
	letter-spacing: 0.1em;
	color: #eee;
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100%;
	opacity: 0
}
.sub .subwrap h1 {
	opacity: 1
}
.subbody h2 {
	font-size: 26px;
	margin: 30px 0 50px
}
.subbody h2 .logo {
	position: static;
	width: 120px;
	height: 66px;
	margin: 0 auto
}
.subbody h3 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 30px 0
}
.subbody p {
	padding: 0 0 20px
}
.about {
	background: #eee;
	width: 100%;
	height: 100%
}
.social li {
	display: inline-block;
	margin: 80px 20px 0
}
.social li a {
	border-bottom: 2px solid #000
}
.mail {
	display: inline-block;
	padding: 20px 30px;
	background: #eee;
	margin-bottom: 50px
}
.mail span {
	border-bottom: 2px solid #000
}
.abt {
	text-align: left;
	font-family: 'Fira Sans', sans-serif;
	margin-top: 50px;
	padding: 30px 50px 0;
	text-align: justify
}
.job {
	font-size: 11px;
	padding-right: 10px;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 0
}
.video_body .cover {
	height: 100%;
	width: 100%
}
.video_body .cover_wrap {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all 1s
}
.video_overlay {
	z-index: 4
}
.moviearea .video_body {
	opacity: 1
}
.moviearea.ready .video_body .cover_wrap {
	opacity: 0
}
.loaded .moviearea.ready .video_body .vloader {
	opacity: 0
}
.vloader {
	height: 40px;
	widows: 40px;
	position: absolute;
	z-index: 3;
	transition: all 1s;
	opacity: 0;
	top: 50%;
	left: 50%;
	overflow: hidden;
	border-radius: 50px;
	margin: -20px 0 0 -20px;
	-webkit-animation: R 1.2s linear infinite;
	animation: R 1.2s linear infinite
}
.loaded .vloader {
	opacity: 1
}
.vloader svg {
	margin: -10px
}
.vloader path {
	fill: #fff
}
@-webkit-keyframes R {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(720deg);
transform:rotate(720deg)
}
}
@keyframes R {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(720deg);
transform:rotate(720deg)
}
}
.mouse_txt {
	z-index: 10000;
	position: absolute;
	top: 100px;
	left: 100px;
	opacity: 0;
	transition: opacity 1s
}
.mouse_txt span {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px
}
.controll_on .mouse_txt, .pause .mouse_txt {
	opacity: 1
}
.puase_on .mouse_txt {
	opacity: 0;
	transition: opacity .5s
}
.sns > div {
	display: inline-block
}
@media screen and (max-width:640px) {
* {
	-webkit-text-size-adjust: 100%
}
.logo {
	width: 50px;
	height: 30px;
	position: fixed;
	left: 24px;
	top: 32px;
	transition: all .75s;
	z-index: 1;
	display: block
}
.logo svg {
	width: 50px;
	height: 30px;
	fill: #FFF
}
.menu {
	font-size: 13px;
	left: inherit;
	right: 15px;
	top: 40px;
	z-index: 1;
	text-align: right
}
.menu li {
	display: inline-block;
	margin: 0
}
.menu li:first-child {
	display: none
}
.menu a {
	padding: 0
}
.copyright {
	left: 20px
}
.pager {
	right: 15px
}
.container {
	max-width: 100%
}
.mainbody {
	z-index: 889
}
.backyard {
	background: #000
}
.tile {
	max-width: 50%
}
.thumb {
	background: #000
}
.viewmode {
	display: none!important
}
.mode_panel .data {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	height: 50%;
	margin-top: 50%
}
.mode_panel .wlogo {
	width: 90%;
	margin: 20px 5%;
	font-size: 11px;
	line-height: 1.4
}
.leave_forward .data, .leave_reverse .data {
	opacity: 0;
	display: none
}
.tile .tag {
	position: absolute;
	left: 0;
	bottom: 40px;
	opacity: 1;
	font-size: 8px;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	display: none!important
}
.mode_zoomout .tile .thumb {
	-webkit-transform: translate3d(0, -10px, -500px);
	transform: translate3d(0, -10px, -500px);
	height: auto
}
.mode_zoomout:not(.mode_panel) .tile .data {
	opacity: 1;
	margin-top: 0
}
.mode_zoomout:not(.mode_panel) .tile .wtitle {
	display: block;
	padding: 0 20px 10px;
	font-size: 11px
}
.mode_panel .current .thumb {
	opacity: 1;
	-webkit-transition: all .75s cubic-bezier(0.195, 0.840, 0.680, 1.000) .5s;
	transition: all .75s cubic-bezier(0.195, 0.840, 0.680, 1.000) .5s
}
.mode_panel .current .area0 .thumb {
	-webkit-transform: translate3d(0, -101%, 0);
	transform: translate3d(101%, 0, 0)
}
.mode_panel .current .area1 .thumb {
	-webkit-transform: translate3d(0, 101%, 0);
	transform: translate3d(0, 101%, 0)
}
.mode_panel .current .area2 .thumb {
	-webkit-transform: translate3d(0, -101%, 0);
	transform: translate3d(0, -101%, 0)
}
.mode_panel .current .area3 .thumb {
	-webkit-transform: translate3d(0, 101%, 0);
	transform: translate3d(-101%, 0, 0)
}
.contents_detail {
	-webkit-overflow-scrolling: touch
}
.moviearea {
	height: 100%;
	margin-top: 20px
}
.video_body .v {
	position: absolute;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
	width: 100%!important;
	margin: 0!important
}
.captionarea {
	padding: 20px;
	margin: 20px 0;
	margin-top: 220px!important
}
.captionarea h1 {
	padding: 15px 0 15px
}
.captionarea h2 {
	padding: 30px 0 10px
}
.captionarea h1.onlytitle {
	font-size: 18px
}
.caption_head {
	text-align: center;
	padding-bottom: 20px
}
.caption_head .wlogo {
	padding: 50px 0 0px
}
.caption_head .wlogo img {
	max-height: 150px;
	max-width: 70%
}
.text_en, .text_jp {
	display: inline-block;
	width: 100%;
	padding: 0 0 40px;
	font-size: 13px;
	vertical-align: top;
	max-width: none;
	text-align: left;
	line-height: 1.8
}
.text_credit {
	padding: 0 0 20px;
	text-align: left;
	font-size: 12px
}
#article .close {
	right: 20px;
	top: 30px;
	-webkit-transition: top 0s, opacity 1s;
	transition: top 0s, opacity 1s;
	padding: 0;
	opacity: 1
}
#article .close svg {
	width: 18px;
	height: 18px;
	vertical-align: bottom
}
#article .close polyline {
	fill: none;
	stroke: #000;
	stroke-width: 4px
}
#article.caption .close polyline {
	fill: none;
	stroke: #000;
	stroke-width: 4px
}
.gocaption {
	display: none
}
.singlenav {
	padding: 0;
	margin: 20px 0
}
.singlenav > div {
	width: 50%;
	height: 60px;
	line-height: 60px;
	position: static;
	text-align: center;
	float: left;
	margin: 0
}
.singlenav:before, .singlenav:after {
	content: "";
	display: table
}
.singlenav:after {
	clear: both
}
.singlenav {
	zoom: 1
}
.navimg {
	display: none
}
.video_controls_body {
	display: none
}
.contents_tag {
	overflow: scroll;
	-webkit-overflow-scrolling: touch
}
.taglist {
	position: relative;
	padding: 20px 20px 60px;
	width: 100%;
	box-sizing: border-box;
	display: table;
	top: 0;
	left: 0;
	margin-left: 0
}
.taglist_body {
	display: table-cell;
	vertical-align: middle;
	text-align: left
}
.taglist_inner {
	border-top: 4px solid #fff;
	padding: 40px 0 0
}
.taglist li {
	width: 100%;
	margin: 10px 0
}
.taglist li a {
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	font-weight: bold
}
.taglist li:hover a {
	color: #fff
}
.taglist li:before {
	display: none
}
.tag_all {
	font-size: 14px;
	font-style: italic;
	letter-spacing: 0.1em
}
.cat_now {
	font-size: 20px;
	line-height: 80px;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-family: 'Libre Baskerville';
	color: #FFF;
	position: fixed;
	left: 0;
	bottom: 50%;
	left: 0;
	text-align: center;
	width: 100%;
	margin-bottom: -40px;
	opacity: 1;
	letter-spacing: 0;
	-webkit-transition: all 2s;
	transition: all 2s
}
.loaded .cat_now {
	opacity: 0.1
}
.contents_index {
	-webkit-overflow-scrolling: touch
}
.mode_index .contents_index {
	z-index: 9999;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1
}
.index_inner {
	line-height: 1.6;
	font-size: 22px;
	padding: 30px 0 140px
}
.index_inner li {
	position: relative;
	height: auto;
	padding: 10px 0
}
.index_inner li a {
	transition: all .5s;
	padding: 0 10px
}
.index_inner li a .ititle {
	padding: 0 10px;
	display: inline-block;
	overflow: visible;
	width: 90%
}
.index_inner li a > div {
	display: inline-block
}
.index_inner li .number {
	font-size: 12px;
	padding: 2px 6px;
	vertical-align: top
}
.index_inner li .ititle {
	letter-spacing: -0.02em
}
.index_inner li a .ititle {
	position: relative
}
.index_inner li a .ititle:before {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transition: max-width 0.5s;
	transition: max-width 0.5s
}
.index_inner li a:hover .ititle:before {
	max-width: 100%
}
.index_inner li a:hover {
	opacity: 0.6
}
.sub {
	background: #fff;
	color: #000;
	text-align: center;
	height: auto
}
.subwrap {
	padding: 60px 0;
	font-size: 12px
}
.subbody {
	padding: 20px 0 60px;
	width: 100%;
	box-sizing: border-box
}
.loaded .subbody_holder {
	width: 300px
}
.subbody_inner {
	width: 300px;
	padding: 20px 0 0
}
.subwrap h1 {
	font-size: 50px;
	line-height: 50px
}
.subbody h2 {
	font-size: 26px;
	margin: 20px 0
}
.subbody h2 .logo {
	position: static;
	width: 100px;
	height: 66px;
	display: none
}
.subbody h3 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 30px 0 30px
}
.subbody p {
	padding: 0 0 20px
}
.social {
	margin-top: 0px;
	padding-bottom: 20px
}
.social li {
	display: inline-block;
	margin: 30px 0 0;
	width: 48%
}
.mail {
	display: inline-block;
	padding: 20px;
	background: #eee;
	margin-bottom: 30px
}
.abt {
	text-align: left;
	font-family: 'Fira Sans', sans-serif;
	margin-top: 20px;
	padding: 20px 0;
	text-align: justify
}
.job {
	font-size: 11px;
	padding-right: 10px;
	display: block;
	padding-bottom: 10px
}
.moja_ol {
	width: 80px;
	margin: 0 auto;
	transform: scale(1.4)
}
.moja_bd {
	position: relative;
	width: 80px;
	height: 80px;
	overflow: hidden
}
.moja_bd img {
	position: absolute;
	width: 22px;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -12px;
	z-index: 2
}
.moja_ol {
	-webkit-animation: mojahuwa 5s ease 0 infinite;
	animation: mojahuwa 5s ease 0 infinite
}
@-webkit-keyframes mojahuwa {
0% {
transform:translate3d(0, -3px, 0) scale(1)
}
50% {
transform:translate3d(2px, 5px, 0) scale(1)
}
100% {
transform:translate3d(0, -5px, 0) scale(1)
}
}
@keyframes mojahuwa {
0% {
transform:translate3d(0, -3px, 0) scale(1)
}
50% {
transform:translate3d(2px, 5px, 0) scale(1)
}
100% {
transform:translate3d(0, -5px, 0) scale(1)
}
}
.sp_content a {
	display: block;
	cursor: pointer
}
}
.jspContainer {
	overflow: visible;
	position: relative
}
.mode_zoomout .jspPane {
	position: absolute
}
.jspVerticalBar {
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 100%
}
.jspCap {
	display: none
}
.jspTrack {
	position: relative
}
.jspDrag {
	position: relative;
	top: 0;
	left: 0
}
.jspArrow {
	display: none
}
.jspArrow.jspDisabled {
}
.jspVerticalBar .jspArrow {
	display: none
}
.jspVerticalBar .jspArrow:focus {
	outline: none
}
.jspCorner {
	float: left;
	height: 100%;
	display: none
}
.jspScrollable, .jspContainer {
	overflow: visible!important
}
.jspScrollable, .jspScrollable * {
	outline: none
}
