@charset "utf-8";
/* CSS Document */
div.footer-main {
	padding: 3em 0 4em;
	background-color: #284E98;
	
	
	background-position: center 19em;
	background-size: 87% auto;
	background-repeat: no-repeat;
	color: #e6e7e8;
	width: 100%;
	font-size: 0.9em;
	overflow-y: hidden;
}
#social .fa {

  color:#2F4BCF;
  text-align:center;
  padding:0 15px;margin-top:30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#social .fa:hover {color:white;}
@media (min-width: 54em) {
div.footer-main {
	background-size: 50em auto;
	background-position: 50% -30%;
}
}
div.footer-main .btn-pill {
	margin: 2em 2em 1em;
}
#social .fa {

  color:#2F4BCF;
  text-align:center;
  padding:0 15px;margin-top:30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#social .fa:hover {color:white;}
@media (max-width: 54em) {
div.footer-main .btn-careers .btn-pill {
	display: none;
}
}
div.footer-main aside {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: 0.122em;
	text-align: center;
	line-height: 1.6em;
	margin: 1em 0
}
@media (min-width: 54em) {
div.footer-main aside {
	font-size: 90%
}
}
div.footer-main aside>* {
	font-weight: normal;
	font-style: normal;
	line-height: 2em
}
div.footer-main .redox, div.footer-main a {
	color: white;
}
div.footer-main a {
	text-decoration: none
}
div.footer-main nav ul li a {
	color: #e6e7e8;
	text-decoration: none
}
div.footer-main nav ul {
	list-style: none;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: center
}
div.footer-main nav ul li {
	display: inline-block;
	float: none;
	vertical-align: middle
}
#social .fa {

  color:#2F4BCF;
  text-align:center;
  padding:0 15px;margin-top:30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#social .fa:hover {color:white;}
@media (max-width: 54em) {
div.footer-main nav.btn-nav ul li {
	display: block
}
}
div.footer-main nav ul.social li a {
	color: #EEF1F9;
	display: block;
	width: 1em;
	height: 1em;
	text-align: center;
	font-family: 'ui-social', sans-serif;
	font-size: 1.7em;
	line-height: 1em;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-font-smoothing: grayscale;
	box-shadow: inset 0 0 0 2px rgba(197,164,126,0.4);
	border-radius: 50%;
	padding-top: 1px;
	margin: 0 .25em;
	transition: all 0.2s
}
#social .fa {

  color:#2F4BCF;
  text-align:center;
  padding:0 15px;margin-top:30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#social .fa:hover {color:white;}
@media (min-width: 54em) {
div.footer-main nav ul.social li a {
	font-size: 2em;
	margin: 0 1rem 3rem
}
}
div.footer-main nav ul.social li a:hover {
	background-color: #284E98;
	color: #284E98;
}
div.footer-main .uilogo {
	font-size: 1.1em;
	margin: 0 auto
}
div.footer-main .logo, div.footer-main .uilogo .logo:before {
	border-color: #fff !important;
}
#social .fa {

  color: #CCCDD0;
  text-align:center;
  padding:0 15px;margin-top:30px;
  margin-bottom:30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#social .fa:hover {color:white;}
@media (min-width: 72em) {
.has-fixiefooter main, .careers main, .page-template-page-work-php main, .contact main, .careers main, .home main, .brand main {
	margin-bottom: 20em;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

}
@media (min-width: 72em) {
.has-fixiefooter div.footer-main, .careers div.footer-main, .page-template-page-work-php div.footer-main, .contact div.footer-main, .careers div.footer-main, .home div.footer-main, .brand div.footer-main {
	height: 23em;
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: -1
}